

@font-face {
  font-family: 'Alpga Smart 3000';
  src: url('./assets/AlphaSmart3000.ttf'),
}
.bg{
  position: absolute;
  background-image: url('./assets/1368.png');
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: 500px) {
    background-image: url('./assets/375 2.png');
  }
  @media screen and (min-width: 3841px) {
    background-image: url('./assets/3840 1.png');
  }
  @media  screen and (max-height: 735px)and (min-width: 700px) {
    height: 735px;
  }
  @media  screen and (max-height: 1400px)and (min-width: 3000px) {
    height: 1200px;
  }
}
.App {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  @media  screen and (max-height: 735px)and (min-width: 700px) {
    height: 735px;
  }
  @media  screen and (max-height: 1400px)and (min-width: 3000px) {
    height: 1200px;
  }
}

.text {
  color: #fff;
  @apply inline-flex w-full justify-center rounded-md;
  padding-top: 46vh;
  padding-right: 80px;
  font-family: 'Alpga Smart 3000';
  font-size: calc(3.5vh + 3vw);

  @media screen and (max-width: 500px) {
    margin-top: 11vh !important;
    padding-left: 40vw;
    font-size: calc(3vh + 5vw);

  }
  @media screen and (max-height: 700px) and (max-width: 500px) {
    margin-top: 13vh !important;
  }
  @media screen and (max-height: 700px) and (min-width: 700px) {
    margin-top: 4vh !important;
    font-size: calc(4vh + 4vw);
  }
  /*@media screen and (ьшт-height: 700px) and (min-width: 700px) {
    margin-top: 4vh !important;
    font-size: calc(4vh + 4vw);
  }*/
  @media  screen and (max-height: 735px) and (min-width: 700px) {
    padding-top: 310px;
  }
  @media  screen and (max-height: 1400px)and (min-width: 3000px) {
    padding-top: 550px;
  }
}
